@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  select,
  input,
  button {
    background-color: white;
    line-height: 1.5em;
    border: 1px solid gray;
    padding: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  button:disabled,
  input:disabled {
    background-color: #f0f0f0;
    box-shadow: none;
  }
}

@layer utilities {
  .debug {
    border: 1px solid red;
  }
}
